In [52]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix ,accuracy_score,precision_score

In [53]:
#change the current  directory to the directory where you have saved your data file
import os
os.chdir('C:/Users/Neera/OneDrive/Desktop/python vs code/Project1_Credit_Scoring')

In [54]:
#import the file inside the python system
df=pd.read_excel('datafile.xlsx')

In [55]:
#check the first 5 records of the data
df.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,582,3,3,0,4,0.0,5,117,27,...,3.0,0.9179,0.2083,2,3,7,0.2083,4,4,0.0000
1,1,662,15,9,0,3,1.0,3,14,14,...,1.0,0.8000,0.0000,0,0,0,1.0000,12,0,1.0000
2,1,805,0,0,0,1,5.0,1,354,7,...,5.0,0.3552,0.6538,0,1,1,0.7308,1,1,0.5263
3,1,1175,8,5,0,6,1.0,10,16,4,...,3.0,0.9127,0.2500,1,1,1,0.7500,7,1,1.3333
4,1,1373,3,1,0,9,0.0,8,130,52,...,1.0,1.2511,0.0000,0,1,4,0.1429,3,1,0.0000

In [56]:
#check out the shape of the data
df.shape

(3000, 30)

In [57]:
#drop the unnecessary  columns
df=df.drop('ID',axis= 1)

In [58]:
#again check the shape of data frame to be sure the column is deleted
df.shape

(3000, 29)

In [59]:
#describe the data
df.describe()

,TARGET,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,TLCnt03,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2812.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,2901.000000,2959.000000,2996.000000,3000.000000,3000.000000,3000.000000,2997.000000,3000.000000,3000.000000,2997.000000
mean,0.166667,1.430000,0.857000,0.153333,3.108333,3.108108,3.555000,170.113667,11.873667,0.275000,...,4.077904,0.648178,0.518331,0.726000,0.814667,2.522000,0.496168,1.409000,1.068333,0.564219
std,0.372740,2.731469,2.161352,0.360369,3.479171,4.637831,4.477536,92.813700,16.321412,0.582084,...,3.108076,0.266486,0.234759,1.163633,1.609508,3.407255,0.206722,2.460434,1.806124,0.480105
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,106.000000,4.000000,0.000000,...,2.000000,0.501100,0.352900,0.000000,0.000000,0.000000,0.344800,0.000000,0.000000,0.250000
50%,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,2.000000,151.000000,7.000000,0.000000,...,3.000000,0.695500,0.527050,0.000000,0.000000,1.000000,0.500000,0.000000,0.000000,0.500000
75%,0.000000,2.000000,1.000000,0.000000,4.000000,3.000000,5.000000,227.000000,13.000000,0.000000,...,6.000000,0.840650,0.681800,2.000000,1.000000,4.000000,0.625000,2.000000,1.000000,0.800000
max,1.000000,51.000000,50.000000,1.000000,40.000000,24.000000,48.000000,933.000000,342.000000,7.000000,...,23.000000,3.361300,1.000000,8.000000,19.000000,45.000000,1.000000,47.000000,20.000000,6.000000

In [60]:
#isna sum of data frame for checking the null values
df.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [61]:
#fill na with mean which is the standrd practice of data science
df=df.fillna(df.mean())

In [62]:
#isna sum of data frame for checking the null values
df.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [63]:
#define x and y values with iloc syntax 
y=df.iloc[:,0].values
x=df.iloc[:,1:29].values

In [64]:
#check if the data is balanced in terms of target variable by using value_counts command
category_count= df['TARGET'].value_counts()
category_count

TARGET
0    2500
1     500
Name: count, dtype: int64

In [65]:
#define x_train,x_test,y_train,y_test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=11,stratify=y)

In [66]:
#check shape of x_test
x_test.shape

(600, 28)

In [67]:
#check shape of x_train
x_train.shape

(2400, 28)

In [68]:
#check shape of y_test
y_test.shape

(600,)

In [69]:
#check shape of y_train
y_train.shape

(2400,)

In [70]:
#scale x_train and x_test to standarize independent variables
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [71]:
#define reg as logisic regression object and fit the model with x_train and y_train
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [72]:
#use reg.predict to predict y_predict by passing the argument x_test
y_pred=reg.predict(x_test)

In [73]:
#see confusion_matrix by passing argument y_pred and y_test
conf_mat= confusion_matrix(y_pred,y_test)
conf_mat

array([[486,  72],
       [ 14,  28]], dtype=int64)

In [74]:
#find accuracy of the model  by passing x_test and y_test to reg.score
reg.score(x_test,y_test)

0.8566666666666667

In [75]:
#find the percesion of the model as data is unbalanced by passing y_test and y_pred to precion_score
precison=  precision_score(y_test,y_pred)
precison

0.6666666666666666

In [76]:
#predict the target varible by passing scaled input to the model
scaled_input= sc.transform([['15',	'9',	'0','3'	,'1',	'3'	,'14',	'14'	,'0',	'0'	,'1',	'1',	'16776',	'20971',	'1'	,'0'	,'0'	,'1'	,'1'	,'.80',	'0' ,	'0'	,'0',	'0'	,'1' ,	'12',	'0',	'1' ]])
decision=reg.predict(scaled_input)
if decision ==0 :
 print('customer is Good , please give him loan' )
elif decision ==1 :
 print('customer is having Bad record , please  do not give him loan')

customer is having Bad record , please  do not give him loan